:root{
  --vermelho: #E50914;
  --preto: 	#000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*elementos base*/
body{
  background: var(--preto);
  font-family: 'Arial', Times, serif;
  color: white;
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 15px;
  color: var(--vermelho);
  font-size: 40px;
  font-family: 'Bahnschrift';
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;;
  text-shadow: 1px 1px 3px black;
}


header nav a{
  text-decoration: none;
  color:#DCDCDC;
  margin-right: 10px;
  padding-right: 10px;
}


header nav a:hover{
  color: #fff;
}

/*filme principal*/

.filme-principal{
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)100%), url("img/capa2.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  margin-bottom: 2px;
  text-shadow: 1px 1px 5px black;
}

.filme-principal .descricao{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: sans-serif;
  text-align: justify;
  font-size: 15px;
  text-shadow: 1px 1px 3px black;
}

.titulo{
  margin-top: 12%;
  font-size: 40px;
  margin-left: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}

.botao{
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #C0C0C0;
  padding: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .3s ease all;
  margin-bottom: 30px;
}

.botao:hover{
  background-color: white;
  color: Black;
}

.botao i{
  margin-right: 8px;
}

main {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.carrossel-filmes{
  margin-left: 10px;
  margin-right: 10px;
}

.filme-principal .container{
  width: 70%;
}

.box-filme{
  height: 100%;
  width: 100%;
  display: block;
}
