@media screen and (max-width:700px){
  header .container{
    display: flex;
    flex-direction: column;
    margin: 6px;
    }

    .botao{
      margin-bottom: 7px;
      width: 150px;
      height: 50px;
      margin-right: 1px;
    }

    .filme-principal{
      padding-bottom: 50px;
    }

    .filme-principal .titulo{
      font-size: 25px;
    }

    .filme-principal .descricao{
      font-size: 12px;
    }

    #carrossel {
      margin-right: 20px;
      justify-content: center;
      align-items: center;
    }
}

@media screen and (min-width:1000px){
  .descricao{
    width: 50%;
  }

}
